/* Items.css */
.equal-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fixed-card-body {
    height: 60px;
    overflow: hidden;
}

.col-md-3 {
    flex: 0 0 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
}

.row-spacing {
    margin-bottom: 2rem;
}

.item-card {
  border: none;
}
